.appBar {
    /* background-color: hsl(211, 100%, 50%); */
    background-color: #ffffff;
    color: black;
    font:700;
    font-size: 28px;
  }
  
  .menuButton {
    margin-right: 10px;
    display: block; /* Always show the menu button initially */
  }
  
  .brandLogo {
    display: inline-block;
    text-decoration: none;
    color: white;
  }
  
  .navBarDesktop {
    display: none;
    flex-grow: 1;
  }
  
  @media (min-width: 768px) {
    .menuButton {
      display: none; /* Hide the menu button on larger screens */
    }
  
    .navBarDesktop {
      display: block; /* Show the desktop navigation on larger screens */
      font-size: 28px;
    }
  }